body{
    background-color:beige;
}
/*logo and nav bar*/
.logo{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100vw;
    height:100px;
    margin:auto;
}
#the-boxs{
    width:80px;
    height:80px;
    border-radius:50%;
    border:3px inset teal;
}
.nav-bar ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
}

a{
    text-decoration: none;
    color:#6b6b6b;
}
a:hover{
    background-color: gray;
}
/*about us*/
.logo{
    margin:auto;
    width:100vw;
}
.logo-image{
    margin-left:6.25rem;
}
.about-us{
    text-align: center;
    color: #6b6b6b;
    margin:auto;
    }
.about-us h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 2%;
}
.about-us p{
    margin-top: 0%;
    width:1000px;
    height:200px;
    text-align:center;
    margin:auto;
    font-size:20px;
}
/*cards container*/
.cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align:center;
    grid-column-gap:30px;
    width:600px;
    height:1000px;
    margin:auto;
}
/*card images*/
#indoorBox,#outdoorBox,#powerlifting{
    width:250px;
    height:250px;
}
/*cards*/
.cards{
    margin-top:100px;
}
.card-1,.card-2,.card-3{
    text-align: center;
    color:#6b6b6b;
    padding:20px;
    box-shadow: 0px 4px 4px 4px rgba(218, 223, 225, 0.8);
    border-radius:10px;
    width:300px;
    height:600px;
    justify-self: center;
    font-size:20px;
}
/*our team*/
.our-team{
    width:1000px;
    height:800px;
    margin:auto;
}
.team-container{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top:75px;
}
#shego, #hego, #mego ,#igo{
    width:150px;
    height:150px;
    
}
.our-team h2, .our-team p{
    text-align: center;
    color:#6b6b6b;
}
/*social media icons*/
#facebook,#google,#twitter,#instagram,#linkedin{
    width:20px;
    height:20px;
    opacity:80%;
    border-radius:50%;
    margin-top:20px;
    margin-left:20px;
}
/*footer*/

footer{
    background-color:#3b3c36 ;
}
.company-social-media{
    grid-area:company-social-media;
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:20px;
    flex-wrap: wrap;
    padding-left:50px;
}
address{
    grid-area:address;
}
.email{
    grid-area:email;
}
.phone{
    grid-area:phone;
}
.contact-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:50px;
    color:#6b6b6b;
}
/*media queries*/
@media(max-width:480px){
    .nav-bar ul{
        
        flex-direction: row;
        flex-wrap:wrap;
       
    }
    .container{
        width:100vw;
    }
    .about-us{
        text-align: center;
        color: #6b6b6b;
        margin:auto;
        }
    .about-us h2{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        margin-bottom: 2%;
    }
    .about-us p{
        margin-top: 0%;
        width:100vw;
        height:0.875rem
        text-align:center;
        font-size:0.875rem
        margin:auto;
    }
    .cards{
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align:center;
        width:37.5rem;
        height:62.5rem;
        margin-top:1000px;
    }
    /*card images*/
    #indoorBox,#outdoorBox,#powerlifting{
        width:15.625rem;
        height:15.625rem;
    }
    /*cards*/
    .cards{
        margin-top:37.5rem;
    }
    .card-1,.card-2,.card-3{
        text-align: center;
        color:#6b6b6b;
        padding:20px;
        box-shadow: 0px 4px 4px 4px rgba(218, 223, 225, 0.8);
        border-radius:10px;
        width:18.75rem;
        height:37.5rem;
        justify-self: center;
        font-size:1.25rem;
    }
}





